
.baseSection{
width:100vw;
height:100vh;
background-color:yellow;

}
.content{
margin-left:20%;
background-color:green;
height:92%;
display:flex;
position:fixed;
width:80%;
position:relative;
}

section{
padding-top:50px;
width:100%;

}

nav{
height:8%;
}
section h1{

    color:red;
    text-align:center;

}


.sidebar{
position:fixed;
width:20%;
background-color:gray;
height:92%;

display:flex;
flex-direction:column;
align-items:center;
padding-top:30px;
font-size:60;
}


 .sidebar a{

 display:block;
text-decoration:none;

width:100%;
padding-top:30px;
padding-bottom:30px;
color:aqua;
text-align:center;


}

.sidebar a:hover{
background-color:brown;

}

.crossbtn{

position:absolute;
right:0px;
top:0;
cursor:pointer;
font-size:30px;
}

.bar{
position:absolute;
top:0;
font-size:30px;
display:none;
}



/* need space after and*/
@media screen and (max-width:900px){

.sidebar{
display:none;
color:yellow;
width:80%;

height:100vh;
position:fixed;

}
section{
margin-left:0;


}

}